# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Unit test / pytest cache
.pytest_cache/
.coverage
htmlcov/

# OS metadata
.DS_Store
Thumbs.db

# Generated project files / outputs
out.png
output_test.png
input_test.png
